.container {
    display: flex;
    justify-content: center;
    padding-top: 50px;
}

.app {
    height: 400px;
    width: 400px;
    border: 1px black solid;
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
    flex-wrap: wrap;
    padding: 20px;
}